name: Build and Deploy
run-name: ${{ github.actor }} is learning GitHub Actions
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        # 官方社区贡献的用来拉取仓库分支的 Action
        uses: actions/checkout@v2

      - name: vuepress Build and Deploy
#         uses: lmy668/vuepress@main
        env:
          ACCESS_TOKEN: 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
          TARGET_REPO: lmy668/vuepress
          TARGET_BRANCH: gh_pages
          BUILD_SCRIPT: npm && npm build
          BUILD_DIR: dist/
